@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap');


.daily_main-cont {
    font-family: 'Jost', sans-serif;
    min-height: calc(100vh - 74px);
}

.image {
    border-radius: 50%;
    position: relative;
    height: 12rem;
    width: 12rem;
    top: -3rem;
    left: 4.5rem;
    object-fit: cover;
    border: 2px solid grey;
}

.card-style {
    background-color: whitesmoke;
}

.title {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}

.daily-button {
    background-color: #35B066;
    border: none;
    margin-top: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.daily-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

.card-body {
    padding-top: 0;
}

.inner-class {
    display: flex;
    justify-content: space-between;
}

.clock {
    height: 14px;
    width: 14px;
    margin-right: 5px;
}

.person {
    margin-right: 5px;
}

.para {
    color: rgb(112, 111, 111);
    margin-bottom: 0.2rem;
    display: inline;
}

.portion {
    color: rgb(112, 111, 111);
    margin-bottom: 0.2rem;
    display: inline;
}

.button {
    background-color: #35B066;
    border: none;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-div {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.button-div a:hover {
    text-decoration: none;
    color: white;
}

.nutrients-div {
    margin-left: 20rem;
    max-width: fit-content;
    text-align: center;
    margin-top: 1rem;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
}

.calory-div {
    align-items: center;
    margin-top: 1rem;
}

.calory {
    height: 2rem;
    width: 2rem;
}

.calory-text {
    display: inline;
}

.protein-div {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.proteins {
    height: 2rem;
    width: 2rem;
}

.protein-text {
    display: inline;
}

.fat-div {
    margin-right: 2.5rem;
    margin-top: 0.5rem;
}

.fat {
    height: 2rem;
    width: 2rem;
}

.fat-text {
    display: inline;
}

.carbo-div {
    margin-left: 3rem;
    margin-top: 0.5rem;
}

.carbo {
    height: 2rem;
    width: 2rem;
}

.carbo-text {
    display: inline;
}

.dflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media only screen and (max-width:1200px) {
    .image {
        height: 9rem;
        width: 9rem;
    }

    .nutrients-div {
        margin-right: 10rem;
        margin-left: 13rem;
    }
}

@media only screen and (max-width: 991px) {
    .image {
        height: 7rem;
        width: 7rem;
        left: 2.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .card-style {
        width: 250px;
        margin: 0 auto;
    }

    .image {
        height: 9rem;
        width: 9rem;
        left: 3.5rem;
    }

    .nutrients-div {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}