.side-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 23rem;
    position: absolute;
    bottom: 0rem;
}

.main-content {
    margin-left: 2rem;
}

.main-head {
    font-family: "sansSerif";
    margin-top: 3rem;
    font-size: 4rem;
    text-align: center;
}

.head2 {
    margin-top: 2rem;
    color: grey;
    text-align: center;
}

.head3 {
    margin-top: 3rem;
    color: grey;
    text-align: center;
}

.ratings-main-class {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.rating1 {
    background-color: #D8F0E6;
    width: 16rem;
    margin-top: 4rem;
}

.rating2 {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.img-style {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

/* .rate {
    margin-left: 1.5rem;
} */

.burger_container {
    background-image: url('https://st3.depositphotos.com/1020618/15071/i/600/depositphotos_150716786-stock-photo-big-tasty-burger-with-flying.jpg');
    background-position: 108% center;
    overflow: hidden;
    background-repeat: no-repeat;
    position: relative;
}

@media only screen and (max-width: 1286px) {
    .burger_container {
        background-image: none;
    }
}

@media only screen and (max-width: 1212px) {
    .side-image {
        display: none;
    }
}

@media only screen and (max-width: 890px) {
    .main-head {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 650px) {
    .ratings-main-class {
        flex-direction: column;
        gap: 0rem;
        margin-left: 3rem;
    }


    .head2 {
        font-size: 1rem;
    }

    .head3 {
        font-size: 1rem;
    }
}