@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap');

.hero_sec {
    background-color: #D8F0E6;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
}

.main_sec {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.main_cont {
    background-color: white;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

.col-style {
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

.main_head {
    font-weight: "bold";
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.mt-4 {
    line-height: 1;
    font-weight: 900;
    letter-spacing: -1.7px;
    color: #63b995;
    margin-bottom: 1rem;
}

.sign {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: -0.8px;
}

.form-label {
    font-weight: bold;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

input::placeholder {
    font-size: 0.8rem;
    color: #63b995 !important;
}

.account {
    font-size: 0.8rem;
}

.form-control {
    width: 20rem;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.register-button {
    background-color: #35B066;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}

.first-para {
    margin-bottom: 0;
}