@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

.hero_sec {
    background-color: #D8F0E6;
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
}

.main_sec {
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}

.main_cont {
    background-color: white;
    border-radius: 1rem;
}

.col-style {
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

.main_head {
    font-weight: "bold";
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 20rem;
}

.register-button {
    background-color: #35B066;
    border: none;
    margin-right: 2rem;
}

.login-button {
    background-color: #35B066;
    border: none;
}

.login-button:hover {
    background-color: #6caf87;
}