@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap');

.hero {
    background-color: #D8F0E6;
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.main-section {
    padding-left: 1.3rem;
    padding-right: 1rem;
    padding-top: 5.5rem;
    padding-bottom: 6.5rem;
}

.container {
    background-color: white;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.main-heading {
    color: #34B267;
    text-align: center;
}

.div-1 {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 3rem;
}

.image1 {
    height: 20rem;
    width: 30rem;
    background-size: 100%;
    border-radius: 10px;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: 1px solid grey;
    box-shadow: 5px 6px 6px grey;
}

.image2 {
    /* background-image: url("https://images.all-free-download.com/images/graphiclarge/food_picture_01_hd_pictures_167558.jpg"); */
    background-image: url("https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTc3fHxmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    height: 20rem;
    width: 30rem;
    background-size: 100%;
    border-radius: 10px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: 1px solid grey;
    box-shadow: 5px 6px 6px grey;
    object-fit: cover;
}

.head1 {
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
    color: #34B267;
}

.head1:hover {
    font-weight: bold;
}

.paragraph {
    text-align: center;
}


@media only screen and (max-width:1200px) {
    .div-1 {
        flex-direction: column;
    }

    .row_cont {
        justify-content: center;
    }

    .content_text {
        display: inline-block;
        width: 500px;
    }
}

@media only screen and (max-width: 768px) {
    .image1 {
        height: 10rem;
        width: 20rem;
    }

    .image2 {
        height: 10rem;
        width: 20rem;
    }

    .content_text {
        display: block;
        width: 300px;
    }
}