.cont-style {
    overflow: hidden;
    font-family: "sansSerif";
    padding-top: 0;
    padding-bottom: 0;
}

.main-nav {
    background-color: #D8F0E6;
}

.heading {
    margin-left: 1rem;
    font-size: 2rem;
}

.text-size {
    font-size: 1.4rem;
}

.Link:hover {
    text-decoration: none;
}