@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap');

.cont-style {
    overflow: hidden;
    font-family: 'Jost', sans-serif;
    padding-top: 0;
    padding-bottom: 0;
}

.main-nav {
    background-color: #D8F0E6;
}

.heading {
    margin-left: 1rem;
    font-size: 2rem;
}

.text-size {
    font-size: 1.2rem;
}

.underline {
    text-decoration: underline;
}

.nav-data:hover {
    text-decoration: none;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(85, 84, 84);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}