@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

.main-sec {
    background-color: #D8F0E6;
    font-family: 'Noto Sans', sans-serif;
}

.section-2 {
    padding-left: 1.3rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.container-style {
    background-color: white;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.main-headingg {
    color: #34B267;
}

.head-class {
    text-align: center;
}

.button {
    background-color: #35B066;
    border: none;
    margin-top: 1rem;
}

.button:hover {
    background-color: #34B267;
}

.button:focus {
    background-color: #34B267;
}

.week-day {
    margin-top: 1rem;
}

.style-card {
    background-color: whitesmoke;
    margin-top: 3rem;
}

.card-image {
    border-radius: 50%;
    position: relative;
    height: 12rem;
    width: 12rem;
    top: -3rem;
    left: 4.5rem;
    object-fit: cover;
    border: 2px solid grey;
}

.card-title {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}

.class-inner {
    display: flex;
    justify-content: space-between;
}

.paragraph {
    color: rgb(112, 111, 111);
    margin-bottom: 0.2rem;
    display: inline;
}

.people-portion {
    color: rgb(112, 111, 111);
    margin-bottom: 0.2rem;
    display: inline;
}

.recipe-button {
    background-color: #35B066;
    border: none;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.2rem;
}

.div-button {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.div-button a:hover {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width:1200px) {
    .card-image {
        height: 9rem;
        width: 9rem;
    }
}

@media only screen and (max-width: 991px) {
    .card-image {
        height: 7rem;
        width: 7rem;
        left: 2.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .style-card {
        width: 250px;
        margin: 0 auto;
        margin-top: 4rem;
    }

    .card-image {
        height: 9rem;
        width: 9rem;
        left: 3.5rem;
    }
}