@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap');

.first_div_cont {
    background-color: #D8F0E6;
    min-height: calc(100vh - 74px);
    font-family: 'Jost', sans-serif;
}

.fridge-text-div {
    margin-left: 2rem;
}

.fridge-button {
    background-color: #35B066;
    border: none;
    margin-left: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fridge-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

.card_style {
    background-color: whitesmoke;
}

.image_style {
    border-radius: 50%;
    position: relative;
    height: 12rem;
    width: 12rem;
    top: -3rem;
    left: 4.5rem;
    object-fit: cover;
    border: 2px solid grey;
}

.card_title {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_text {
    text-align: center;
}

.button_style {
    background-color: #35B066;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div_button_style {
    text-align: center;
    margin-bottom: 2rem;
}

.button_style:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


@media only screen and (max-width:1200px) {
    .image_style {
        height: 9rem;
        width: 9rem;
    }

    .fridge_pic {
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 991px) {
    .image_style {
        height: 7rem;
        width: 7rem;
        left: 2.5rem;
    }

    .fridge_pic {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .card_style {
        width: 250px;
        margin: 0 auto;
    }

    .image_style {
        height: 9rem;
        width: 9rem;
        left: 3.5rem;
    }
}

@media only screen and (max-width: 570px) {
    .fridge-form-div {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}