@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap');


.first-cont {
    background-color: #D8F0E6;
    min-height: calc(100vh - 74px);
    font-family: 'Jost', sans-serif;
}

.sub-head {
    margin-top: 1rem;
    font-size: 1.4rem;
}

.wp-text-div {
    padding-left: 2.5rem;
}

.input-text:focus {
    border-color: #16e320;
    box-shadow: none;
}

.suggestions-button {
    background-color: #35B066;
    border: none;
    margin-left: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.suggestions-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.result-container {
    margin-top: 2rem;
    background-color: whitesmoke;
    border-radius: 1rem;
}

.wine-head {
    margin-top: 1.5rem;
    text-align: center;
    color: #34B267;
    margin-bottom: 2.5rem;
}

.list {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
}

.second_container {
    padding: 2rem 1rem 1rem 1.3rem;
}

.wine1 {
    height: 12rem;
    width: 12rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
    box-shadow: 3px 5px 5px grey;
}

.winepic {
    height: 20rem;
    width: 22rem;
    margin-left: 8rem;
}

.head-des {
    text-align: center;
    color: #34B267;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.para-des {
    column-count: 3;
    font-size: 1.1rem;
}

.wine-text-list {
    display: flex;
    margin-left: 10rem;
    gap: 12.5rem;
    margin-top: 2rem;
}

@media only screen and (max-width: 1200px) {
    .wine-text-list {
        margin-left: 7rem;
        gap: 9.5rem;
    }

    .winepic {
        height: 15rem;
        width: 15rem;
    }
}


@media only screen and (max-width: 991px) {
    .winepic {
        display: none;
    }

    .wine-text-list {
        margin-left: 3rem;
        gap: 6rem;
    }
}

@media only screen and (max-width: 767px) {
    .wine1 {
        height: 8rem;
        width: 8rem;
    }

    .wine-text-list {
        margin-left: 2.5rem;
        gap: 6rem;
    }

    .list {
        font-size: 0.9rem;
    }

    .form-div {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .suggestions-button {
        max-width: 12rem;
    }

    .wine-glass-icon {
        display: none;
    }
}

@media only screen and (max-width: 578px) {
    .wine-text-list {
        margin-left: 4rem;
        gap: 3rem;
    }
}

@media only screen and (max-width: 514px) {
    .wine1 {
        height: 4rem;
        width: 4rem;
    }

    .wine-text-list {
        margin-left: 4rem;
        gap: 3.5rem;
    }

    .list {
        font-size: 0.7rem;
    }

    .wine-glass-icon {
        display: none;
    }
}


@media only screen and (max-width: 480px) {
    .wine-text-list {
        margin-left: 2.5rem;
        gap: 2rem;
    }
}